<% include ./partials/header.ejs %>

<div class="ui main text container segment">
  <div class="ui huge header">Index Page</div>
</div>

<% blogs.forEach(function(blog) { %>
  <div>
    <h2><%= blog.title %></h2>
     <img src="<%= blog.image %>">
     <span><%= blog.created %></span>
     <p><%= blog.body %></p>
  </div>
<% }); %>


<% include ./partials/footer.ejs %>
